<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="payu_gateway"
                      xsi:type="object">Snowdog\Hyva\Checkout\PayU\Magewire\Payment\PlaceOrderServiceProvider
                </item>
                <item name="payu_gateway_card"
                      xsi:type="object">Snowdog\Hyva\Checkout\PayU\Magewire\Payment\PlaceOrderServiceProvider
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-snowdog-payu" xsi:type="array">
                    <item name="original_module" xsi:type="string">PayU_PaymentGateway</item>
                    <item name="compat_module" xsi:type="string">Snowdog_HyvaCheckoutPayU</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>